body {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 1rem;
}

/* buttons */
.button_primary,
.button_secondary {
  border-radius: 0.25rem;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  outline: none;
  font-weight: bold;
  transition: all linear 0.1s;
  cursor: pointer;
}
.button_primary {
  box-shadow: none;
  background: #2fb4ed;
  color: white;
}
.button_primary:hover {
  background-color: #86e1ff;
}
.button_secondary:hover {
  background-color: #eee;
}
.button_primary:focus {
  box-shadow: inset 0 0 0 2px #18a0fb;
}
.button_secondary {
  background: white;
  color: black;
  box-shadow: inset 0 0 0 1px black;
}
.button_secondary:focus {
  box-shadow: inset 0 0 0 2px #18a0fb;
}

/* Inputs */
input {
  border: none;
  outline: none;
  padding: 0.5rem 0.5rem;
  margin: 0 0.5rem;
  height: 1.5rem;
  line-height: 1.25rem;
  width: 3.5rem;
}
input:hover {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
input:focus {
  box-shadow: inset 0 0 0 2px #18a0fb;
}

/* Logo */
#logo {
  text-align: center;
}
#logo svg {
  padding: 0.5rem 0.5rem;
}

/* Number of swatches */
.count-selector {
  margin: 1rem 0.5rem;
  height: 2rem;
  display: flex;
}
.count-selector__label {
  flex: 1;
  text-align: left;
  line-height: 2rem;
}
.count-selector__toggle {
  text-align: right;
}
.count-selector__toggle-button {
  display: inline-block;
  height: 2rem;
  width: 2.25rem;
  background-color: #86e1ff;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
  transition: all linear 0.1s;
}
.count-selector__toggle-button.active,
.count-selector__toggle-button:active,
.count-selector__toggle-button:hover {
  background-color: #2fb4ed;
  outline: none;
}
.count-selector__toggle-button:focus {
  box-shadow: inset 0 0 0 2px #18a0fb;
  outline: none;
}
.count-selector__toggle-button:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
  border-right: #2d9cdb solid 1px;
}
.count-selector__toggle-button:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
  border-left: #2d9cdb solid 1px;
}

/* Color list */
.colors-list {
  border: #ddd solid 1px;
  border-radius: 0.25rem 0.25rem 0 0;
  height: 7rem;
  overflow-y: auto;
}
.colors-row {
  display: flex;
  margin: 0.5rem;
}
.colors-row__color-drop {
  width: 1.25rem;
}
.colors-row__color-input {
  width: 4.5rem;
}
.colors-row__color-input input {
  width: 3.75rem;
}
.colors-row__swatch-preview {
  flex: 1;
  display: flex;
  position: relative;
}
.colors-row__swatch-preview:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: rgba(0, 0, 0, 0.1) solid 1px;
  border-radius: 0.75rem;
}
.swatch-item {
  flex: 1;
  height: 1.5rem;
}
.swatch-item:first-child {
  border-radius: 0.75rem 0 0 0.75rem;
}
.swatch-item:last-child {
  border-radius: 0 0.75rem 0.75rem 0;
}
.colors-row__remove-color {
  width: 1.25rem;
  margin-left: 0.25rem;
}
.colors-row__remove-color.disabled {
  display: none;
}
.remove-color-button {
  display: inline-block;
  padding: 0;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #999;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.remove-color-button svg {
  fill: currentColor;
  transition: all linear 0.1s;
}
.remove-color-button:hover {
  color: #f77777;
}
.remove-color-button:active,
.remove-color-button:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #18a0fb;
}
.list-footer {
  border: #ddd solid 1px;
  border-top: none;
  border-radius: 0 0 0.25rem 0.25rem;
  text-align: left;
  margin-bottom: 1rem;
}
.add-color-button {
  background: none;
  border: none;
  height: 2rem;
  font-weight: bold;
  line-height: 2rem;
  color: #2fb4ed;
  cursor: pointer;
  transition: all linear 0.1s;
}
.add-color-button:hover {
  color: #86e1ff;
}
.add-color-button:active,
.add-color-button:focus {
  box-shadow: inset 0 0 0 2px #18a0fb;
  outline: none;
}

.action-buttons {
  text-align: right;
}

/* Color Picker */
.color-drop {
  position: relative;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  border: rgba(0, 0, 0, 0.1) solid 1px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
}
.color-picker {
  position: absolute;
  height: 16.5rem;
  top: 1rem;
  right: 1rem;
  left: 1rem;
  background: #ffffff;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3), 0 0 0 1px inset rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  z-index: 3;
}
.color-picker__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 2;
}
.color-picker__saturation-control {
  position: absolute;
  top: 2.5rem;
  right: 1px;
  left: 1px;
  bottom: 2rem;
  height: 10rem;
}
.color-picker__hue-control {
  position: absolute;
  bottom: 2.75rem;
  right: 1rem;
  left: 4.5rem;
  height: 0.5rem;
}
.color-picker__input-control {
  text-align: left;
  position: absolute;
  bottom: 0.5rem;
  right: 1px;
  left: 4rem;
  height: 1.5rem;
  font-size: 2rem;
}
.color-picker__preview-drop {
  position: absolute;
  bottom: 0.75rem;
  left: 0.75rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  border: rgba(0, 0, 0, 0.2) solid 1px;
  box-sizing: border-box;
}
.color-picker__custom-pointer {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  margin-top: -5px;
  margin-left: -5px;
  background: #eee;
  border: solid 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.color-picker__close-button {
  background: none;
  border: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  cursor: pointer;
}
.color-picker__title {
  position: absolute;
  top: 0.75rem;
  left: 1rem;
  font-weight: bold;
  font-size: 11px;
  color: #444;
}
